<!DOCTYPE html>
<html>
  <head>
    <title>Listagem de Pedidos</title>
    <% include ../head %>
  </head>
  <body>
      TEXTE

      <a href="/pedidos">Pedidos</a>
      
      <a href="/login">Login</a>
  </body>
  <footer>

  </footer>
</html>