<!DOCTYPE html>
<html>

<head>
  <title>Listagem de Pedidos</title>
  <% include ../head %>

  <a href="/" id="backButton"> ↩ Voltar</a>
</head>

<body class="container">
  <h2 class="basic-title text-center">Pedidos Feitos</h2>
  <div>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Título</th>
          <th>Descrição</th>
        </tr>
      </thead>
      <tbody>
        <% posts.forEach((posts) => { %>
        <tr>
          <td id="infoClienteAtras">
            <a id="infoCliente" href="/feed/info/<%=posts.id%>"><%= posts.titulo %></a>
          </td>
          <td><%= posts.descricao %></td>
        </tr>
        <% }) %>
      </tbody>
    </table>
  </div>
  <a id="botaoNovo" href="/feed/novo">Fazer Nova Postagem</a>
</body>

<script>
  setTimeout(function () {
    location.reload();
  }, 120000);
</script>

</html>